/* Enter your custom styles here */
#webcam-stream{
    height: 100%;
}

#webcam-stream video{
    max-width: 100%;
    max-height: 100%;
}
.layers-wrapper{
    position: relative;
    background-color: #dddddd;
    border: 1px dashed #aaaaaa;
}

.layers-wrapper .layers,
.layers-wrapper > .sapMFlexItem:last-child,
.layers-wrapper .layers > ul{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.layers-wrapper .layers > ul > li{
    /*position: absolute;*/
}

.layers-wrapper .layers .sapMListNoData{
    top: 45%;
    left: 50%;
}

.layers .layer-item{
    position: absolute;
    background: transparent;
    border: 2px solid transparent;
    padding: 5px;
    z-index: 1;
    outline: none;
}
.layers .layer-item.sapMLIBSelected{
    border-color: orange;
}

.layers .layer-item img{
    pointer-events: none;
}

.layers .layer-item:first-child{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    padding: 0;
    z-index: 0;
}

.layers.layer-dragging .layer-item{
    z-index: 0;
}
.layers.layer-dragging .layer-item:first-child{
    z-index: 1;
}
.layers.layer-dragging .layer-item.sapMLIBSelected{
    z-index: 5;
}

.layer-item:focus{
    outline: none;
}

.layer-item.sapMLIBHoverable.sapMLIBSelected:hover{
    background: transparent none;
}

.bg-picture{
    min-width: 640px;
    min-height: 400px;
    max-width: 850px;
    display: block;
}

.asset-image-list{
    position: relative;
}

.asset-image-list:after{
    clear: both;
}

.asset-image-list ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.asset-image-list li{
    position: relative;
    width: calc(100% / 3);
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 10px;
    height: auto;
}

.asset-image-list li img{
    max-width: 100%;
    max-height: 100px;
    width: auto !important;
    pointer-events: none;
}